.fix-width-search {
    float: left;
}

.search-product {
    margin: 10px 0px;
}

.input-group-btn button {
    margin-left: -71px !important;
    background-color: #d6d6d6;
}

.reply {
    margin-left:95px;
}

.place_span {
    margin-left: 35px;
    color:#fff;
}


.place_span a {
    color:#fff;
}

.nav-header {
    margin-top: 18px;
    font-family: abril fatface;
    font-size: 16px;
    font-weight: 400;
}

.logout {
    margin-top:11px;
}

.logout h4 {
    color: #fff;
    font-weight: 300px;
    font-weight: 900;
    font-family: abril fatface;
    margin-top: 8px;
}

.logout a {
    text-decoration: none;
}

.fix-height {
    height: 400px;
}

.header-slider {
    margin-top: 35px;
    margin-bottom: 35px;
}

.main-content {
    border-top: 1px solid #dadada;
}

.fix-top-3,.fix-top-9 {
    padding-top: 40px;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.fix-top-9 {
    border-left: 1px solid #f1f1f1;
}

.food-new-title,.drink-new-title {
    font-family: Abril Fatface;
    text-shadow: 2px 2px 8px #f18282;
}

.food-new-title span,.drink-new-title span {
    border-bottom: 2px  solid #333;
}

.food-new-slide-div,.drink-new-slide-div {
    width: 175px;
    height: 175px;
    margin-left: 40px;
    float:left;
}

.food-new-slide-img,.drink-new-slide-img {
    width: 160px;
    height: 160px;
    box-shadow: 2px 3px 9px 1px #d2d2d2;
}

/*#food-new-slide-1 div:first-child,#drink-new-slide-1 div:first-child {
    width: 175px;
    height: 175px;
    float: left;
}

#food-new-slide-1 div:last-child,#drink-new-slide-1 div:last-child{
    width: 175px;
    height: 175px;
    float: right;
    padding-right: 
}*/

.food-new-content,.drink-new-content {
    margin-top: 30px;
}

.btn-3 {
    width: 100%;
    background: #fbfbfb;
    box-shadow: 0px 2px 0 #ffffff, 2px 4px 6px #b3b0b0;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 150ms linear;
    text-transform: uppercase;
    font-size:19px;
    font-family: "Abril Fatface";
    font-weight: 600;
}
 
.btn-3:hover {
  background: #e02c26;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.2);
  color: #fff;
  text-decoration: none;
  text-shadow: -1px -1px 0 #c2211c;
  transition: all 250ms linear;
}

.btn-4 {
    width: 24%;
    background: #fbfbfb;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 150ms linear;
    text-transform: uppercase;
    font-family: "Abril Fatface";
    font-weight: 600;
    margin-top: 6px;
    float: right;
    margin-right: 10px;
}

.btn-4:hover {
    background: #2175f3;
    border: 1px solid rgba(0, 0, 0, 0.05);
   box-shadow: 3px 5px 5px -3px #0020bc;
    color: #fff;
    text-decoration: none;
    transition: all 250ms linear;
}

.item-food-new a,.item-drink-new a {
    font-family: Abril Fatface;
}

/*Infor-User*/

.images-user {
    height: 150px;
    width: 150px;
    margin-top: 28px;
    box-shadow: 0px 5px 5px 2px #8e8b8b;

}

.title-infor {
    font-family: Abril Fatface;
    font-size: 18px;
    border-bottom: 1px solid #e6dddd;
    margin-top: 28px;
}

.fix-width-modal {
    width: 820px;
}

.infor-box {
    border-radius: 1px solid #333;
}

.content-infor-user {
    background: #f1f1f1;
    margin: 7px 27px;
    border-radius: 21px;
    box-shadow: 0px 5px 5px -5px #333;
    border: 1px solid #dadada;
}

.form-sign {
    margin-top: 50px;
}

.fix-width-images{
    width: 260px;
    height: 160px;
    margin-top: 6px;
    border-radius: 2%;
}

.modal-header {
    font-family: Abril Fatface;
    text-transform: uppercase;
}

.list-food,.list-drink {
    margin-top: 20px;
}

.fix-width-list-foods,.fix-width-list-drinks {
    width: 181px !important;
    height: 150px;
    float:left;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 5px #eee;
    margin-left: 4.5px;
}

.fix-top-list-food,.fix-top-list-drink{
    margin:0 auto;
    margin-top: 45px;
}

/*#item-food-1 a:nth-child(4) img,#item-food-1 a:nth-child(5) img,#item-drink-1 a:nth-child(4) img,#item-drink-1 a:nth-child(5) img{
    width: 400px;
}

#item-food-1,#item-drink-1 {
    background: #ebf2f1;
    padding-bottom: 15px;
    border-radius: 1%;
    box-shadow: 2px 4px 11px -1px #e6b2c3;
    border: 1px solid #cdc6c6;
}
*/
.fix-width-div {
    width: 268px;
    height: 252px;
    float: left;
    border: 1px solid #dddbdb;
    margin-left: 5px;
    box-shadow: 1px 5px 5px -5px #aca8a8;
    border-radius: 5%;
    margin-top: 7px;
    background: white;
}
.fix-width-div:hover {
    background: #f4f4f4;
}

.name_product {
    padding-top: 10px;
    text-transform: uppercase;
    font-family: Abril Fatface;
    border-bottom: 1px solid #d1d1d1;
    width: 50%;
    text-align: center;
    margin-left: 132px;
}

.name_product a {
    text-decoration: none;
    color:#000;
}

.price_product {
    font-size: 22px;
    font-weight: 400;
    float: left;
    padding-left: 7px;
    padding-top: 11px;
    color: #FF9800;
    font-family: abril fatface;
}

.item-food,.item-drink {
    background: #ebf2f1;
    padding-bottom: 15px;
    border-radius: 1%;
    box-shadow: 0px 0px 4px 0px #ffd4e2;
    border: 1px solid #cdc6c6;
}

.modal-dialog {
    width: 820px;
}

.fix-size-product {
    width: 350px;
    height: 280px;
}

.name_product_show {
    text-transform: uppercase;
    font-family: Abril Fatface;
    text-align: center;
}

.price_show span{
    font-size:25px;
    float: left;
    font-family: Abril Fatface;
    padding-right:0px;
    margin-left: 37px;
}

.price_show span:first-child {
    margin-left: 0px;
}

.price_show {
    padding-bottom: 30px;
    border-bottom: 1px solid #d1d1d1;
    width: 100%;
}

.discrible {
    font-family: Abril Fatface;
    height: 80px;
}

.number_show {
    font-family: Abril Fatface;
}

.number_show  input {
    width: 11%;
    border-radius: 1%;
}

.number_show  span {
    font-size:25px;
}

.buy_show {
    margin-top: 20px;
    background: #ff0000;
    color:#fff;
}

.status_show {
    border-bottom: 1px solid #bebbbb;
}

.status_show span:nth-child(2){
    color: #36be05;
}

.fix-size-product {
    border-radius: 2%;
    box-shadow: 5px 5px 5px -5px #333;
}